<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Card Games</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/pokemon']" routerLinkActive="active">Pokémon</a></li>
            <li class="breadcrumb-item" [routerLink]="['/kit_treinador']" routerLinkActive="active">Kit Treinador</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card cardSpace" *ngFor="let kit of kities" >
        <img class="imgJustfy" [src]="kit.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{kit.tipe}} </h4>
        <h5 class="cardDescription">{{kit.name}}</h5>
        <p class="price">{{kit.price}}</p>
    </div>
</div>
