<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Card Games</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/pokemon']" routerLinkActive="active">Pokémon</a></li>
            <li class="breadcrumb-item" [routerLink]="['/pokemon']" routerLinkActive="active">Blister</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card cardSpace" *ngFor="let blister of blisters">
        <img class="imgJustfy" [src]="blister.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{blister.tipe}} </h4>
        <h5 class="cardDescription">{{blister.name}}</h5>
        <p class="price">{{blister.price}}</p>
    </div>
</div>