<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Card Games</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/pokemon']" routerLinkActive="active">Pokémon</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/']" routerLinkActive="active">Blister</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>