.leftbarMenu {
    background-color: #1B2059;
    width: 250px;
    height: 100%;
    color: #fff;
    position: fixed;
}

.menu h1 {
    text-align: center;
    font-weight: lighter;
}

.menu ul li {
    background-color: #1B2059;
    font-size: 22px;
    padding-left: 20px;

    transition: all;
    transition-duration: 500ms;
}

.menu ul li:hover {
    background-color: #5460dd;
}

.list-unstyled p {
    text-align: center;
}

.list-unstyled a {
    text-decoration: none;
    color: inherit;
}

.list-unstyled ul {
    list-style: none;
}

.menu ul li {

}

.menu ul ul {
    display: none;
    padding: 0;
    margin-left: 20px;
}
.menu ul li ul {
    transition: all;
    transition-duration: 1s;
}

.menu ul li:hover>ul {

    display: block;
}