<div class="leftbarMenu">
    <nav class="menu">
        <h1>LOJAGAMES</h1>
        <ul class="list-unstyled">
            <p>CATEGORIAS</p>
            <hr>
            <li> <a href="#homeSubmenu" class="dropdown-toggle">Card Games</a>
                <ul class="subMenu" id="homeSubmenu">
                    <li> <a href="#" class="dropdown-toggle">Magic</a>
                        <ul class="subMenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                    <li> <a href="#" class="dropdown-toggle">Pokémon</a>
                        <ul class="subMenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                    <li> <a href="#" class="dropdown-toggle">Yu-Gi-Oh!</a>
                        <ul class="submenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                </ul>
            </li>
            <li> <a href="#homeSubmenu" class="dropdown-toggle">Card Games</a>
                <ul class="subMenu" id="homeSubmenu">
                    <li> <a href="#" class="dropdown-toggle">Magic</a>
                        <ul class="subMenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                    <li> <a href="#" class="dropdown-toggle">Pokémon</a>
                        <ul class="subMenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                    <li> <a href="#" class="dropdown-toggle">Yu-Gi-Oh!</a>
                        <ul class="submenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                </ul>
            </li>
            <li> <a href="#homeSubmenu" class="dropdown-toggle">Card Games</a>
                <ul class="subMenu" id="homeSubmenu">
                    <li> <a href="#" class="dropdown-toggle">Magic</a>
                        <ul class="subMenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                    <li> <a href="#" class="dropdown-toggle">Pokémon</a>
                        <ul class="subMenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                    <li> <a href="#" class="dropdown-toggle">Yu-Gi-Oh!</a>
                        <ul class="submenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                </ul>
            </li>
        </ul>
    </nav>
</div>