<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Jogos de Carta</a></li>
      <li class="breadcrumb-item" [routerLink]="['/cardGame/magic']" routerLinkActive="active">Magic</li>
    </ol>
  </nav>
<p>Magic all categories route ok!</p>
<div class="container">
    <a href=""><h6>Booster</h6></a>
    <magicBooster></magicBooster>
    <a href=""><h6>Bundle</h6></a>
    <app-bundle></app-bundle>
    <a href=""><h6>Deck Pronto</h6></a>
    <app-deck-pronto></app-deck-pronto>
    <a href=""><h6>Duel Decks</h6></a>
    <app-duel-decks></app-duel-decks>
</div>