.navbar{
  padding: 4px;
  display: block;
}
.container{
  justify-content: center;
}
h1 { 
  margin: 4px;
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-align: center;
  font-weight: lighter;
}
