.navbar{
  position: sticky;
  top: 0;
  box-shadow: 0 0.5em #fff;
  min-height: 100%;
}
.container-fluid{
 
  padding-left: 0;
  justify-content: center;
}
h1 {
  margin: 4px;
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-align: center;
  font-weight: lighter;
}
.navbar ,.navbar-expand-sm, .navbar-dark, .bg-dark{
padding: 4px;

}