<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Card Games</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame/magic']" routerLinkActive="active">Magic</a></li>
            <li class="breadcrumb-item" [routerLink]="['/cardGame/magic/bundle']" routerLinkActive="active">Bundle</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card cardSpace" *ngFor="let bundler of bundleres">
        <img class="imgJustfy" [src]="bundler.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{bundler.tipe}} </h4>
        <h5 class="cardDescription">{{bundler.name}}</h5>
        <p class="price">{{bundler.price}}</p>
    </div>
</div>