<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Jogos de Carta</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame/pokemon']" routerLinkActive="active">Pokémon</a></li>
            <li class="breadcrumb-item" [routerLink]="['/cardGame/pokemon/boxter']" routerLinkActive="active">Boxter</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card cardSpace" *ngFor="let boxter of boxteres" >
        <img class="imgJustfy" [src]="boxter.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{boxter.tipe}} </h4>
        <h5 class="cardDescription">{{boxter.name}}</h5>
        <p class="price">{{boxter.price}}</p>
    </div>
</div>