<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Card Games</a></li>
      <li class="breadcrumb-item" [routerLink]="['/pokemon']" routerLinkActive="active">Pokémon</li>
    </ol>
  </nav>
<p>pokemon-card all categories route ok!</p>
<div class="container">
    <a href=""><h6>Blisters</h6></a>
    <app-blister></app-blister>
    <a href=""><h6>Box Escpecial</h6></a>
    <app-box-especial></app-box-especial>
    <a href=""><h6>Boxter</h6></a>
    <app-boxter></app-boxter>
    <a href=""><h6>Kit Treinador</h6></a>
    <app-kit-treinador></app-kit-treinador>
    <a href=""><h6>Latas</h6></a>
    <app-latas></app-latas>
</div>