<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Jogos de Carta</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/cardGame/pokemon']" routerLinkActive="active">Pokémon</a></li>
            <li class="breadcrumb-item" [routerLink]="['/cardGame/pokemon/box_especial']" routerLinkActive="active">Box Especial</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card cardSpace" *ngFor="let specialBox of specialBoxes" >
        <img class="imgJustfy" [src]="specialBox.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{specialBox.tipe}} </h4>
        <h5 class="cardDescription">{{specialBox.name}}</h5>
        <p class="price">{{specialBox.price}}</p>
    </div>
</div>