<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/rpgBooks']" routerLinkActive="active">Livros de RPG</a></li>
            <li class="breadcrumb-item" [routerLink]="['/rpgBooks/terror']" routerLinkActive="active">Medieval</li>
        </ol>
    </nav>
</div>
<p class="numProdutos">Produtos nessa categoria: {{futuristas.length}} </p>
<div class="container">
    <div class="card cardSpace" *ngFor="let futurista of futuristas">
        <img class="imgJustfy" [src]="futurista.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{futurista.tipe}} </h4>
        <h5 class="cardDescription">{{futurista.name}}</h5>
        <p class="price">{{futurista.price}}</p>
    </div>
</div>