<div class="container">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/cardGame']" routerLinkActive="active">Jogos de Carta</a></li>
      <li class="breadcrumb-item" [routerLink]="['/cardGame/yugioh']" routerLinkActive="active">Yu-Gi-Oh!</li>
    </ol>
  </nav>
</div>
<div class="container justify-content-between">
    <div class="card cardSpace" *ngFor="let card of cards" [routerLink]="[card.router]" >
        <img class="imgJustfy" [src]="card.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{card.tipe}} </h4>
    </div>
</div>