<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item" [routerLink]="['/boardGame']" routerLinkActive="active">Jogos de Tabuleiro</li>
        </ol>
    </nav>
</div>
<div class="container justify-content-between">
    <div class="card cardSpace" *ngFor="let section of sections" [routerLink]="[ section.router]" >
        <img class="imgJustfy" [src]="section.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{section.tipe}} </h4>
    </div>
</div>
