<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>LOJAGAMES</h3>
      </div>
      <ul class="list-unstyled components">
          <p>CATEGORIAS</p>
          <li> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Card Games</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Magic</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li> <a href="#">Box</a> </li>
                        <li> <a href="#">Booster</a> </li>
                        <li> <a href="#">Deck inicial</a> </li>
                    </ul>    
                    <li> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pokémon</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li> <a href="#">Box</a> </li>
                            <li> <a href="#">Booster</a> </li>
                            <li> <a href="#">Deck inicial</a> </li>
                        </ul>
                <li> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Yu-Gi-Oh!</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li> <a href="#">Box</a> </li>
                        <li> <a href="#">Booster</a> </li>
                        <li> <a href="#">Deck inicial</a> </li>
                    </ul>
              </ul>
          </li>
          <li> <a href="#">Users</a> </li>
          <li> <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Subscribers</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li> <a href="#">Active</a> </li>
                  <li> <a href="#">Idle</a> </li>
                  <li> <a href="#">Non Active</a> </li>
              </ul>
          </li>
          <li> <a href="#">Timeline</a> </li>
          <li> <a href="#">Live Chat</a> </li>
          <li> <a href="#">Likes</a> </li>
          <li> <a href="#">Comments</a> </li>
      </ul>
  </nav>
  <div class="content">
      <bread-crumb-component></bread-crumb-component>   
      <div class="content-wrapper">
     
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>