@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa
}
#sidebar{
    background-color: #023364;
}
.menu {
    background-color: #023364;
    width: 240px;
    height: 100%;
    color: #fff;
    position: fixed;
    display: inline-block;
}

.dropdown-toggle::after {
    margin-right: 5px;
    margin-left: 20px;
    font-size: 15px;
}

.menu ul li {
    background-color: #023364;
    font-size: 20px;
    border-bottom: #fafafa 1px solid ;
    position: relative;
    text-align: end;
    padding: 5px;

    transition: all;
    transition-duration: .5s;
}

.menu ul li:hover {
    background-color: #1573B9;
}

.menu ul li ul li:hover {
    background-color: #27AEE4;
}

.menu ul ul ul li:hover {
    background-color: #68CEF6;
}

.list-unstyled p {
    text-align: center;
    margin-top: 20px;
}

.list-unstyled a {
    text-decoration: none;
    color: inherit;
}

.list-unstyled ul {
    list-style: none;
}

.menu ul ul {
    text-align: end;
    padding: 5px;
    display: none;
    top: 40%;
    position: absolute;
    margin-left: 230px;
}

.menu ul ul li {
    text-align: end;
    padding: 5px;
}

.menu ul ul ul {
    display: none;
    position: absolute;
    padding: 0px;
    width:max-content;
    margin-left: 128px;
}

.menu ul li:hover>ul {
    display: block;
}


/* --------- navbar -----------*/
.content{
    margin-left: 240px;
    display: inline-flex;
    flex-direction: column;
}