<div class="wrapper">
    <nav class="menu " id="sidebar">
        <ul class="list-unstyled components">
            <p>CATEGORIAS</p>
            <hr>
            <li> <a [routerLink]="['/cardGame']" routerLinkActive="active" class="dropdown-toggle">Jogos de Carta</a>
                <ul class="subMenu" id="homeSubmenu">
                    <li> <a [routerLink]="['/cardGame/magic']" routerLinkActive="active" class="dropdown-toggle">Magic</a>
                        <ul class="subMenu">
                            <li> <a [routerLink]="['/cardGame/magic/booster']" routerLinkActive="active">Booster</a> </li>
                            <li> <a [routerLink]="['/cardGame/magic/bundle']" routerLinkActive="active">Bundle</a> </li>
                            <li> <a [routerLink]="['/cardGame/magic/deck_pronto']" routerLinkActive="active">Deck Pronto</a> </li>
                            <li> <a [routerLink]="['/cardGame/magic/duel_decks']" routerLinkActive="active">Duel Decks</a> </li>
                        </ul>
                    <li> <a [routerLink]="['/cardGame/pokemon']" routerLinkActive="active" class="dropdown-toggle">Pokémon</a>
                        <ul class="subMenu">
                            <li> <a [routerLink]="['cardGame/pokemon/blister']" routerLinkActive="active">Blister</a> </li>
                            <li> <a [routerLink]="['cardGame/pokemon/box_especial']" routerLinkActive="active">Box especial</a> </li>
                            <li> <a [routerLink]="['cardGame/pokemon/boxter']" routerLinkActive="active">Boxter</a> </li>
                            <li> <a [routerLink]="['cardGame/pokemon/kit_treinador']" routerLinkActive="active">Kit Treinador</a> </li>
                            <li> <a [routerLink]="['cardGame/pokemon/latas']" routerLinkActive="active">Latas</a> </li>
                        </ul>
                    <li> <a [routerLink]="['cardGame/yugioh']" routerLinkActive="active" class="dropdown-toggle">Yu-Gi-Oh!</a>
                        <ul class="submenu">
                            <li> <a [routerLink]="['cardGame/yugioh/booster']" routerLinkActive="active">Booster</a> </li>
                            <li> <a [routerLink]="['cardGame/yugioh/box']" routerLinkActive="active">Box</a> </li>
                            <li> <a [routerLink]="['cardGame/yugioh/deck_inicial']" routerLinkActive="active">Deck inicial</a> </li>
                        </ul>
                </ul>
            </li>
            <li> <a [routerLink]="['/boardGame']" routerLinkActive="active" class="dropdown-toggle">Jogos de Tabuleiro</a>
                <ul class="subMenu" id="homeSubmenu">
                    <li> <a [routerLink]="['/boardGame/cooperativos']" routerLinkActive="active">Cooperativos</a>
                    <li> <a [routerLink]="['/boardGame/estrategicos']" routerLinkActive="active">Estratégicos</a>
                </ul>
            </li>
            <li> <a href="#homeSubmenu" class="dropdown-toggle">Livros de RPG</a>
                <ul class="subMenu" id="homeSubmenu">
                    <li> <a href="#">Medieval</a>
                    <li> <a href="#">Terror</a>
                    <li> <a href="#">Futurista</a>
                </ul>
            </li>
        </ul>
    </nav>
    
    <div class="content col-xl-">
        <app-navbar></app-navbar>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>