<div class="row">
    <div class="left" style="background-color:#bbb;">
      <h2>Menu</h2>
      <input [ngModel]="pesquisar" (ngModelChange)="pesquisar = $event" type="text" id="mySearch"  placeholder="Search..">
      <ul id="myMenu">
        <li *ngFor="let item of filter(menus) "><a href="#">{{item}}</a></li>
      </ul>
    </div>
    
    <div class="right" style="background-color:#ddd;">
      <h2> <bread-crumb-component></bread-crumb-component> </h2>
      <p>produtos / produtos / produtos  </p>
      <p>produtos / produtos / produtos  </p>
      <p>produtos / produtos / produtos  </p>
      <p>produtos / produtos / produtos  </p>
      <p>produtos / produtos / produtos  </p>
      <p>produtos / produtos / produtos  </p>
    </div>
  </div>
  